.navbar-default .navbar-nav > li.menu-item-has-children a {
  /*padding-right: 50px;*/
}

.navbar-default .navbar-nav > li.menu-item-has-children a:after {
  content: " ";
  color: #fff;
  padding: 0 0 0 13px;
  background-image: url(../images/nav_arrow_down.png);
  background-repeat: no-repeat;
}

ul.nav li.menu-item-has-children:hover > ul.dropdown-menu {
  @include md {
    display: block !important;
  }
}

.header-search {
  position: relative;
}
.header-search--opened .header-search__wrapper {
  display: block;
}
.header-search__wrapper {
  display: none;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  padding: 10px 0;
  overflow: hidden;
  width: calc(100vw - 105px);
}
@media (min-width: 768px) {
  .header-search__wrapper {
    width: 50vw;
  }
}
@media (min-width: 992px) {
  .header-search__wrapper {
    width: 25vw;
  }
}
@media (min-width: 1200px) {
  .header-search__wrapper {
    width: 21vw;
    max-width: 404px;
  }
}
.header-search form label {
  display: block;
  margin: 0;
}
.header-search form input {
  display: block;
  width: 100%;
  padding: 10px 16px;
  border: none;
  appearance: none;
  font-size: 14px;
  line-height: 1;
  color: #000;
  background-image: none;
  background-color: rgba($yellow, 1);
  font-weight: 300;
  color: $blue;
}
.header-search form input::-ms-clear,
.header-search form input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.header-search form input::-webkit-search-decoration,
.header-search form input::-webkit-search-cancel-button,
.header-search form input::-webkit-search-results-button,
.header-search form input::-webkit-search-results-decoration {
  display: none;
}
.header-search form input:focus {
  outline: none;
  background-color: rgba($yellow, 1);
}
.header-search form input::placeholder {
  color: $blue;
  font-weight: 300;
}
.header-search__toggle {
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  padding: 0;
  border: none;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
}
.header-search__toggle-icon {
  display: block;
  width: 100%;
  height: auto;
  transition: fill 0.3s ease;
}
.header-search__toggle-icon--close {
  display: none;
}
.header-search__toggle:hover,
.header-search__toggle:focus {
  outline: none;
}

.header {

  &_top {

    background: $yellow;
    color: $blue;
    padding: 5px;
    @include md {
      padding: 15px;
    }


    &__contact {
      text-align: center;
      @include md {
        text-align: left;
      }

      span {
        display: none;
        @include md {
          display: inline-block;
        }
      }

    }

    &__social {
      text-align: center;
      @include md {
        text-align: right;
      }

    }

    svg {

      margin-right: 10px;

    }

    a {

        color: $blue;
        margin-right: 20px;

      }

  }

  &_details {
    text-align: center;
    color: $blue;
    font-weight: 600;
    font-size: .8em;
    @include md {
      text-align: right;
      font-size: 1.2em;
    }

    span {
      display: none;
      margin-top: 5px;
      font-size: .7em;
      @include md {
        display: block;
        font-size: .5em;
      }

    }

    a {
      color: $yellow;
    }

  }


}
