.page-search {
  padding: 50px;

  text-align: center;

  header {
    margin-bottom: 50px;
  }

  img {
    margin-bottom: 25px;
  }

  h2 {
    color: #363636;
    font-size: 1.25em;
    text-align: left;

    a {
      color: #363636;
      text-align: left;
    }

  }

}
