a {
	color: $color__link;

	&:visited {
		// color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

a.more-btn {

	background: $yellow;
	padding: 15px;
	color: #fff;
	font-weight: 600;
	text-align: center;
	display: block;
	border-radius: 5px;
	margin-top: 25px;
	margin-bottom: 50px;
	text-transform: uppercase;
	cursor: pointer;

	&:hover {
		background: $blue;
		color: #fff;
	}


}
